

.popup-wrapper {
  display: none;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


.popup {
  font-family: arial;
  width: 100%;
  max-width: 45%;
  height: auto;
  margin: 20% auto;
  padding: 3.5rem 5rem;
  background-color: white;
  position: relative;
    background-color: var(--background);
}

.popup-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;

  
}


.popup a {
  padding: 10px 20px;
  background-color: var(--accent);
  display: inline-block;
  margin: 10px auto;
  text-decoration: none;
  color: white;
}

.close-popup {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 22px;
}
