/* STRUCTURE */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* for the footer */
   background-color: var(--background);
   color:  var(--color);
   overflow-x: hidden;
   -webkit-font-smoothing: antialiased;
   list-style: 0.5px;
} 

inner-column {
	display:  block;
	width: min(90%, 800px); /* could be a variable in settings */
	margin-right: auto;
	margin-left: auto;
}

