/* RESET */
@import 'meyer-reset.css';
@import 'setup.css';



/* SETTINGS */
@import 'settings.css';
/* variables/ etc */


/* STRUCTURE */
@import 'structure.css';


/* TYPOGRAPHY */
@import 'typography.css';


/* COMPONENTS */
@import 'components.css';


/* MODULES */


/* SITE SECTIONS */
body {
    text-align: center;
    display: flex;
    justify-content: center;
}

span {
    font-weight: 600;
}


.signup-wrapper * {
    display: flex;
    flex-direction: column;

}

.signup-container {
    gap: 40px;
}


/*sign-up text*/
.signup-text {
    gap: 15px;
    padding: 15px;
}

.signup-text h1 {
    font-size: var(--fluid-3);
    font-weight: 600;
    line-height: 1.15;
}



.form-container {
    gap: 20px;
}

.try-for-free {
    padding: 20px;
    background-color: var(--accent);
    border-radius: 0.5rem;
    box-shadow: 0px 7px 0px 0px rgba(10, 10, 10, 0.3);
}

.signup-form {
    background-color: #fdfdfd;
    border-radius: 0.5rem;
    box-shadow: 0px 7px 0px 0px rgba(10, 10, 10, 0.3);
    padding: 30px 25px;
    gap: 15px;

}

.signup-form input {
    border: 1px solid #d6d6d6;
    padding: 15px;
    -webkit-padding:  15px;
    text-align: left;
    border-radius: 0.2rem;


}

.signup-form input[type='submit'] {
    background-color: var(--button);
    color: var(--text);
    font-size: 15px;
    font-weight: 600;
    align-self: center;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-appearance: textfield;



}

div.form-container>form>p,
div ul.password-requirements {
    display: none;
    color: var(--error);
    font-size: 13px;
    text-align: left;
    padding-left: 5px;

}

div ul.password-requirements {
    gap: 3px;

}

.pw-wrap {
    position: relative;
}

button#show-pw {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    width: 2.2rem;
    background-color: transparent;
    border: none;
}

#show-pw img {
    width: 100%;
    height: auto;
}




.terms {
    color: var(--terms);
}

.terms span {
    color: var(--accent);
}

.signup-form input.error {
    outline: 2px solid var(--error);
}

.signup-form input.success {
    outline: 2px solid var(--pass);
}



@media (min-width: 768px) {

    body {
        background: url('../images/bg-intro-desktop.png') no-repeat center center / cover;
        background-color: rgba(34, 52, 70, 1);

    }

    .signup-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }

    .signup-wrapper .signup-container div.signup-text {
        justify-content: center;
        text-align: left;
    }

    .signup-text {
        gap: 20px;
    }

    .signup-text h1 {
        font-size: var(--fluid-2);
        width: 18ch;
    }

    .signup-text p {
        width: 29ch;
    }

}

@media (min-width: 820px) {

    .signup-text h1 {

        width: 15ch;
    }

    .signup-text p {
        width: 36ch;
    }

}


@media (min-width: 1000px) {

    .signup-container {
        gap: 30px;
    }

    .signup-text p {
        width: 40ch;
    }

}